.admin-dashboard-container {
  margin-top: 20px;
  padding: 50px;
  
  width: 60%;
}

.admin-dashboard-content {
  max-width: 800px;
  margin: 0 auto;
}

.admin-dashboard-back-btn {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
   color: black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.admin-back-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.admin-search-box {
  margin-bottom: 20px;
}

.admin-search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.admin-table-wrapper {
  overflow-x: auto;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8);
  border: 4px solid #979494;
 
}

.admin-table th,
.admin-table td {
  border: 1px solid #ccc;
  padding: 20px;
}

.admin-no-users {
  text-align: center;
}

.admin-pagination {
  margin-top: 20px;
  text-align: center;
}

.admin-pagination-btn {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}

.admin-pagination-btn.admin-pagination-disabled {
  
  cursor: not-allowed;
}

.admin-add-user {
  text-align: center;
  margin-top: 20px;
}

.admin-add-user-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.admin-edit-btn,
.admin-delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-edit-btn:hover,
.admin-delete-btn:hover {
  background-color: #0056b3;
}
 

 .admin-screen-bg {
  background-image: url('../../assets/adminlogin.jpg');
  min-height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.header-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #080808;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.icon {
  margin-right: 0.5rem;
}

.text {
  color: white;
  cursor: pointer;
}

.text:hover {
  color: #bdc3c7;
}

/* home and dash */
.admin-log-screen-bg{
  background-image: url('../../assets/admin_home2.jpg');
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}






